<h1>New Entry</h1>

<form action="/entries" method="post">

<input type ="hidden" name="place_id" value="<%= params["place_id"] %>">

  <p>

    <label for="title">Entry Title</label>
    <input type="text" name="title" id="title">
  </p>

  <p>

  <label for="date">Date</label>
  <input type="date" name="date" id="date">
  </p>

  <p>

    <label for="text">Text</label>
    <input type="text" name="text" id="text">
  </p>

  <button>Submit</button>
</form>